{{page-title "Show"}}
<h1>User Details: {{@model.user.name}}</h1>
<p>ID: {{@model.user.id}}</p>
<p>Name: {{@model.user.name}}</p>
<p>Description: {{@model.user.profile.description}}</p>
{{#if @model.isCurrentUser}}
  <p>Birth Date: {{@model.user.name}}</p>
{{/if}}
<LinkTo @route="user-edit" @model={{@model.user}}>Edit this user</LinkTo>
<LinkTo @route="users">Back to Users List</LinkTo>
